
# Ignore Django's virtual environment
backend/venv/

# Ignore django statics
backend/ArtWall/static/media/

# Ignore Python cache files
**/__pycache__/
**/*.py[cod]

# Ignore SQLite database
backend/ArtWall/db.sqlite3
backend/ArtWall/.env
backend/notes.txt
notes.txt

# Ignore Django migrations 
**/migrations/

# Ignore other operating system-specific files
*.DS_Store
*.log
