/* Header.css */

.custom-dropdown {
    position: relative;
}

.dropdown-menu {
    display: block; 
    position: absolute; 
    left: 0;
    z-index: 1000; 
    width: 500px; 
    background-color: white !important; /* Set background color to white */
    border: 1px solid #000000; 
    box-shadow: 0 2px 10px rgba(228, 191, 191, 0.1); 
    border-radius: 5px; 
}
.custom-dropdown .dropdown-menu .dropdown-item {
    padding: 10px 15px; 
    /* font-size: 1.2rem;  */
    color: black !important; /* Ensure text is black */
    background-color: white !important; /* Ensure background stays white */
}
.custom-dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #f0f0f0 !important; /* Light gray on hover */
    color: black !important; /* Ensure text remains black */
}
.dropdown-row {
    background: white !important; /* Ensure the background is white */
}

.dropdown-item {
    padding: 10px 15px; 
    font-size: 1.2rem; 
    color: black !important; /* Use !important to ensure black color is applied */
}

/* Override nav-link color if present */
.nav-link.dropdown-item {
    color: black !important; /* Ensure text is black */
}

.dropdown-item:hover {
    background-color: #f0f0f0 !important; /* Light gray on hover for visibility */
    color: black !important; /* Ensure text stays black on hover */
}
.cart-count {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0.2em 0.5em;
    margin-left: 5px;
    font-size: 0.75rem;
  }





/* 

.category-link-fix {
    display: block;
    padding: var(--bs-nav-link-padding-y, .715rem) var(--bs-nav-link-padding-x, 1rem);
    font-size: var(--bs-nav-link-font-size, 1rem);
    font-weight: var(--bs-nav-link-font-weight, 400);
    color: var(--bs-nav-link-color, #0d6efd);
    text-decoration: none;
    background-color: transparent;
    border: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.category-link-fix:hover,
.category-link-fix:focus {
    color: var(--bs-nav-link-hover-color, #0a58ca);
    text-decoration: none;
}

.category-link-fix.active, 
.category-link-fix.show {
    color: var(--bs-navbar-active-color, #0d6efd);
    font-weight: 500;  
}
 */
